# Copier ce fichier : cp .env.example .env
# Ne jamais committer .env

TZ=Europe/Paris
PUID=1000
PGID=1000

# MariaDB — doit correspondre aux credentials de la prod
MYSQL_DATABASE=librenms
MYSQL_USER=librenms
MYSQL_PASSWORD=Pa$$w0rd
MYSQL_HOST=mariadb

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Poller
POLLER_NAME=poller-test-01
SIDECAR_DISPATCHER=1
