# Copier ce fichier : cp librenms.env.example librenms.env
# Ne jamais committer librenms.env

MEMORY_LIMIT=256M
UPLOAD_MAX_SIZE=16M
OPCACHE_MEM_SIZE=128
REAL_IP_FROM=0.0.0.0/32
REAL_IP_HEADER=X-Forwarded-For
LOG_IP_VAR=remote_addr
LISTEN_IPV6=false

LIBRENMS_SNMP_COMMUNITY=librenmsdocker
MEMCACHED_HOST=memcached
MEMCACHED_PORT=11211

# [TEST] Redis local au lieu du host de prod
REDIS_HOST=redis
REDIS_PORT=6379
CACHE_DRIVER=redis
SESSION_DRIVER=redis

SNMP_EXTRA_MIB_DIRS=mibs/fortinet:mibs/fortinet/FORTINET-FORTIGATE-MIB
